@model AracKiralamaDB.Models.ArabaMarkalari

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Araba Markası Detaylar Sayfası</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ArabaMarkaAdi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ArabaMarkaAdi)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ArabaMarkaID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
