@{
    ViewBag.Title = "Admin Paneli";
    <link href="~/Content/css/admin.css" rel="stylesheet" />
}

<div class="jumbotron">
    <h1>CVS RENT A CAR </h1>
    <p>CVS RENT A CAR Admin Sayfasına Hoşgeldiniz..</p>
    <p><a href="@Url.Action("Index","ArabaMarkalaris")" class="btn btn-primary btn-lg">Marka Ekle &raquo;</a></p>
</div>




