
@{
    ViewBag.Title = "İletisim";
    Layout = "~/Views/Shared/genel_layout.cshtml";
    <link href="~/Content/css/iletisim.css" rel="stylesheet" />
}


<div class="alan4">
    <div class="alan4baslik">
        <div class="alan3baslik"><div class="baslik_ortala"><h1>İletişim</h1></div></div>
    </div>
    <div class="alan4sol">
        <iframe class="map"
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d12037.852231349814!2d28.985091699999998!3d41.03700175!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14cab7650656bd63%3A0x8ca058b28c20b6c3!2zVGFrc2ltIE1leWRhbsSxLCBHw7xtw7zFn3N1eXUsIDM0NDM1IEJleW_En2x1L8Swc3RhbmJ1bA!5e0!3m2!1str!2str!4v1652655842555!5m2!1str!2str"
                loading="lazy"
                referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
    <div class="alan4sag">
        <div class="alan4sagadres">
            <div class="adresfoto">
                <img src="~/Content/img/adres1-1.png" />
            </div>
            <div class="adresyazi">
                <p>Gümüşsuyu, Intercontinental Otel, Asker Ocağı Cd. No:1, 34437 Beyoğlu/İstanbul</p>
            </div>
        </div>
        <div class="alan4sagtelefon">
            <div class="telefonfoto">
                <img src="~/Content/img/telefon-2.png" />
                <div class="telefonyazi">
                    <p>0539 348 89 61</p>
                    <p>0216 308 62 43</p>

                </div>
            </div>
        </div>
        <div class="alan4sagmail">
            <div class="mailfoto">
                <img src="~/Content/img/mail2.png" />
            </div>
            <div class="mailyazi">
                <p><a href="https://login.microsoftonline.com/common/oauth2/authorize?client_id=00000002-0000-0ff1-ce00-000000000000&redirect_uri=https%3a%2f%2foutlook.office.com%2fowa%2f&resource=00000002-0000-0ff1-ce00-000000000000&response_mode=form_post&response_type=code+id_token&scope=openid&msafed=1&msaredir=1&client-request-id=5b53dd23-7307-411e-591a-c4bcf8ab84fd&protectedtoken=true&claims=%7b%22id_token%22%3a%7b%22xms_cc%22%3a%7b%22values%22%3a%5b%22CP1%22%5d%7d%7d%7d&nonce=638198399828454635.8c2b7647-8ad3-4462-b853-848bd1adde0c&state=Dcs7FoAgDAXRoMflRD4J8FgOEGtLt2-KO90EIjrd4ULyUG-CPCBjoECrNqk3dlm9aWdME1ZthReqMBTL8jR70g7-XvH9ZvwB&sso_reload=true">20yobi1050@isik.edu.tr</a></p>
            </div>
        </div>
    </div>

</div>
<div class="bilgi">
    <h1>İletişim Bilgileri</h1><br />
    <p>

        CVS RENT A CAR İletişim Merkezi 0539 348 89 61
        Bizlere 0539 348 89 61 no’lu CVS RENT A CAR İletişim Merkezi hattımızdan 7 gün 24 saat ulaşabilirsiniz. <br />
        İletişim Merkezimizden, yol yardım hattımıza ulaşabilir ve bizlere paylaşmak istediğiniz tüm talep, öneri, görüş ve sorularınızı iletebilirsiniz.
    </p>



</div>
