
@{
    ViewBag.Title = "Hakkımızda";
    Layout = "~/Views/Shared/Musteri_Layout.cshtml";
    <link href="~/Content/css/Hakkımızda.css" rel="stylesheet" />
}

<div class="alan3">
    <div class="alan3baslik"><div class="baslik_ortala"><h1>Hakkımızda</h1></div></div>
    <div class="alan3ortala">
        <div class="alan3sol">
            <img src="~/Content/img/hak3.jpeg" />
        </div>
        <div class="alan3sag">
            <h1>Biz kimiz?</h1>
            <div class="alan3sagyazi">
                <p>
                    CVS Rent A Car firması olarak müşterilerimizin memnuniyetini sağlamak için bu yola çıktık. CVS Rent A Car, araç kiralama hizmetini en uygun fiyata ve profesyonel adımlar ile güvenilir bir şekilde sunar.  İlk günden bugüne yaptığımız çalışmalar ile müşterilerimizin günün her saatinde kesintisiz bir şekilde sorunsuz, güvenli, uygun fiyatlı araç kiralama hizmetini almasını sağlıyoruz. Müşterilerimizin aldıkları hizmetten her adımında memnun olmaları en önemli hedefimiz bu sebeple; Güçlü teknolojik alt yapılarımız, iş takiplerimiz, profesyonel ve deneyimli çalışan kadromuz ile kiralanan araçların bakımlarını eksiksiz bir şekilde yaparak her daim müşterilerimizin konforunu ön planda tutuyoruz.
                    CVS Rent A Car araç kiralamada büyük değişimler yapmış olup, araç kiralama konforunu müşterilerimiz ile buluşturarak müşterilerimizin günlük araç kiralama taleplerini karşılıyoruz. CVS Rent A Car olarak; müşterilerimizin karlılığını önemseyerek, her koşulda memnuniyetlerine önem veriyoruz.

                </p>
            </div>
        </div>
    </div>
</div>
<div class="alan4">
    <div class="alan4ortala">
        <div class="alan4sol">
            <h1>Vizyonumuz & Misyonumuz</h1>
            <div class="alan4sagyazi">
                <p>

                    Ülkemizde, dünya standartları çerçevesinde, sürekli yenilenerek, teknolojinin gücünü de her daim arkasına alan sektörün öncü firmaları arasında olmaktır. Sektöründe diğer kurumlar tarafından örnek alınan araç kiralama şirketi olarak tüm müşterilerimizin en yüksek kalitede hizmet alabilmeleri için sunulan hizmet ve araç kalitesini maksimum düzeyde tutmak, tüm beklentilerinin karşılandığı hizmeti vererek mutlu müşterilere ulaşmaktır. Vizyonumuz ise, sürdürülebilir bir yenilikçilik anlayışıyla her zaman daha iyisini yapmak isteyen firma olmaktır.
                    Otomotiv sektöründe araç kiralama hizmetini yüksek kalitede sunmak, ülkemizde otomotiv sektöründe daha fazla iş imkânı sunarak, istihdama destek vermek ve çalışan kadromuzun sürekli gelişimini destekleyerek bununla birlikte mutlu müşterilere ulaşmaktır.



                </p>
            </div>
        </div>
        <div class="alan4sag">


            <img src="~/Content/img/hak1.jpeg" />


        </div>

    </div>
</div>